@charset "UTF-8";

@font-face {
    font-family: 'Kostar';
    src: url('../static/Kostar.ttf') format('truetype');
    font-weight: normal;
    font-style = normal;

}


textarea{
    width:100%;
}

input[type=submit]{
    margin-top:10px;
}



body{
    font-family: 'Kostar';
    margin: 0px;
    background-color: aliceblue;
    font-size=50px;
}

.Kostar{
    font-family='Kostar';
    font-weight=normal;
    border:none;
    font-size=50px;
}